@tailwind base;
@tailwind components;
@tailwind utilities;

main,
html,
body {
  @apply bg-white scrollbar-hide scroll-smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
main {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.spinner {
  display: none !important;
}
